In [33]:
print('hola mundo')

hola mundo

In [34]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

Nos selecciona desde la posición 1 hasta la 4 sin incluir. s va a guardar los elementos 2, 3, 4

In [35]:
s = slice(1, 4)
s

slice(1, 4, None)

In [36]:
a[1:4]

[2, 3, 4]

In [37]:
a[s]

[2, 3, 4]

In [38]:
a

[1, 2, 3, 4, 5]

TUPLAS

In [39]:
b = (1, 2, 3)
b, type(b)

((1, 2, 3), tuple)

In [40]:
b = 1, 2, 3
b, type(b)

((1, 2, 3), tuple)

No nos hacen falta los paréntesis, son redundantes. Lo que definen las tuplas son las comas, no los paréntesis.

UNPACKING

In [41]:
a = [10, 20, 30, 40]
b, c, d, e = a

In [42]:
b, type(b)

(10, int)

In [44]:
a = 10
b = 5
print(a, b)
a, b = b, a
print(a, b)

10 5
5 10

In [45]:
my_set = {'p', 'y', 't', 'h', 'o', 'n'}
a, b, c, d, e, f = my_set
my_set

{'h', 'n', 'o', 'p', 't', 'y'}

In [46]:
c = [10, 20, 30, 40]
a, *b = c
a, b, c

(10, [20, 30, 40], [10, 20, 30, 40])

In [47]:
def my_func(a, b, c):
    print(a+2, b**3, c//4)

valores = 20, 50, 210
my_func(*valores) # Nos desempaqueta la variable valores

22 125000 52

In [50]:
s = slice(1, 4)
longitud = 2
s.indices(longitud)

(1, 2, 1)